NEXT_PUBLIC_APP_NAME=EduMS Frontend
NEXT_PUBLIC_API_BASE_URL=http://localhost:8080
BACKEND_API_BASE_URL=http://localhost:8080
NEXT_PUBLIC_ENABLE_SEED_BYPASS=true
NEXT_PUBLIC_SEED_AUTH_TOKEN=eyJhbGciOiJIUzM4NCJ9.eyJzdWIiOiJhZG1pbiIsImlhdCI6MTc3NDI4NTUyMSwiZXhwIjoxNzc0MzcxOTIxfQ.DCrrevz8wV5Qpy20k4LxhBJuEQfdRy4oE7C5-nLEnQemzQade3g4st9JUiQgxoIg
NEXT_PUBLIC_SEED_STUDENT_ID=1
